<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" android:versionCode="8" android:versionName="1.0.8" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.cliente.pe.cliente" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ta" android:name="com.taxi.pe.cliente.controller.AppController" android:debuggable="true" android:allowBackup="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:roundIcon="@drawable/ta" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.LanguageChoosing" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.CreditCard" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_car_top_view"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorPrimary"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <service android:name="com.taxi.pe.cliente.firebase.MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.taxi.pe.cliente.firebase.MyFirebaseInstanceIdService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.cliente.pe.cliente.braintree"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.SubscribeActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.IntroActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="com.taxi.pe.cliente.activity.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/bt_three_d_secure_theme" android:name="com.braintreepayments.api.threedsecure.ThreeDSecureWebViewActivity"/>
        <activity android:theme="@style/bt_drop_in_activity_theme" android:name="com.braintreepayments.api.dropin.DropInActivity"/>
        <activity android:theme="@style/bt_add_card_activity_theme" android:name="com.braintreepayments.api.dropin.AddCardActivity"/>
        <activity android:theme="@style/bt_vault_manager_activity_theme" android:name="com.braintreepayments.api.dropin.VaultManagerActivity"/>
        <activity android:theme="@style/PlacesAutocompleteThemeOverlay" android:label="@string/places_autocomplete_label" android:name="com.google.android.libraries.places.widget.AutocompleteActivity" android:exported="false" android:windowSoftInputMode="adjustUnspecified|stateUnchanged|stateVisible|stateAlwaysVisible|adjustPan" android:hardwareAccelerated="true"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity"/>
        <service android:name="com.paypal.android.sdk.payments.PayPalService" android:exported="false"/>
        <service android:name="com.simplymadeapps.quickperiodicjobscheduler.QuickPeriodicJobRunner" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.simplymadeapps.quickperiodicjobscheduler.UpgradeReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/PlacePickerTheme" android:label="@string/title_activity_place_picker" android:name="com.sucho.placepicker.PlacePickerActivity"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true"/>
        <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.cliente.pe.cliente.firebaseinitprovider" android:initOrder="100"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <activity android:theme="@style/bt_transparent_activity" android:name="com.braintreepayments.api.AndroidPayActivity"/>
        <activity android:theme="@style/bt_transparent_activity" android:name="com.braintreepayments.api.GooglePaymentActivity"/>
        <service android:name="com.braintreepayments.api.internal.AnalyticsIntentService"/>
        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="io.card.payment.DataEntryActivity"/>
    </application>
</manifest>
